.page {
    padding-top:60px;

    &.style-back-next {
        padding-bottom:50px;
    }

    &.ntp {
        padding-top:0;
    }

    &.less-pad {
        padding-top:20px;
    }

    &.playerlist-fixed {
        padding-top:50px;
    }
}

.main-content {
    padding-top:$fixed-header;
}