/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
.rc-slider-wrap {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 500px;
  overflow: hidden; }

.rc-slider {
  padding: 8px 0; }
  .rc-slider.rc-slider-with-marks {
    padding-bottom: 30px; }
  .rc-slider .rc-slider-handle {
    border-color: #F22B29; }
    .rc-slider .rc-slider-handle:hover {
      border-color: #53B3CB; }
  .rc-slider .rc-slider-dot {
    border-color: #ececec; }
    .rc-slider .rc-slider-dot:active, .rc-slider .rc-slider-dot.rc-slider-dot-active {
      border-color: #F22B29; }
  .rc-slider .rc-slider-track {
    background-color: #F22B29; }
  .rc-slider .rc-slider-rail {
    background-color: #ececec; }
  .rc-slider .rc-slider-mark-text {
    font-weight: bold;
    color: #0C090D; }
