/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
.player-score {
  margin: 20px 0; }
  .player-score.score-recorded .input-wrap input {
    background-color: #eefde5; }
  .player-score .col {
    display: inline-block;
    vertical-align: middle; }
  .player-score .input-wrap {
    width: 50px;
    margin: 0 30px; }
    .player-score .input-wrap input {
      border-bottom: none;
      text-align: center;
      background-color: #faf6d9;
      margin-bottom: 0; }
