/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
.hole-pager {
  margin-bottom: 30px; }
  .hole-pager .hole-label, .hole-pager button {
    display: inline-block;
    vertical-align: middle; }
  .hole-pager .hole-label {
    width: 60px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px; }
