/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
h2 {
  background-color: #ececec; }

.dropzone {
  border: 2px solid red;
  height: 150px; }
