/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

@keyframes spinny {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

header {
  position: relative;
  height: 54px;
  background-color: #efefef; }
  header .container {
    position: relative;
    height: 100%; }
  header .nav-item i {
    line-height: 48px;
    height: 48px;
    padding-right: 10px;
    float: left; }
  header .btn {
    top: 8px;
    right: 0;
    position: absolute;
    background-color: transparent; }
    header .btn i {
      color: #0C090D; }
    header .btn:hover {
      background-color: transparent; }
  header .logo {
    position: absolute;
    left: 0;
    top: 7px;
    font-weight: bold;
    color: #000;
    font-size: 15px;
    width: 45px; }
    header .logo img {
      display: block;
      width: 100%; }

/* end of .header */
