@import '../styles/core/variables';

.scorecard-wrap {
  .row {
    margin-bottom: 0;
  }

  .header {
    padding: 5px 0;
    background-color: #fff;
  }

  .title {
    margin: 2px 0 0;
    color: $grey-3;
    font-size: 13px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: $grey-2;
  }

  .desc-wrap {
    text-align: right;
  }

  .logo-wrap {
    max-width: 50px;
  }

  $widthHeader: 70px;

  .outer-table-wrap {
    position: relative;
    padding-left: $widthHeader;
  }

  $cellHeight: 50px;

  .fixed-labels {
    position: absolute;
    top: 0;
    left: 0;
    width: $widthHeader;
    box-shadow: 1px 0 2px rgba(black, 0.2);

    li {
      line-height: $cellHeight;
      height: $cellHeight;
      font-size: 13px;
      text-align: center;

      &:first-child, &:nth-of-type(2) {
        line-height: $cellHeight - 10;
        height: $cellHeight - 10;
      }

      &:nth-of-type(even) {
        background-color:$grey-1;
      }


      &:first-child {
        background-color: $grey-3;
        color: #fff;
        font-weight: bold;
      }

      &:nth-of-type(2) {
        background-color: $secondary;
      }

      &.player-label {
        position: relative;

        .snips {
          font-size:7px;
          color:#fff;
          display: inline-block;
          width:15px;
          height:15px;
          line-height:15px;
          border-radius: 50%;
          background-color:$third;
          position: absolute;
          top:3px;
          right:3px;
        }
      }
    }
  }

  .table-wrap {
    overflow-x: auto;
  }
  table {
    width: 1000px;
    border-collapse: collapse;
  }

  tr {
    th:last-child,
    td:last-child {
      border-right: none;
    }
  }

  th,
  td {
    padding: 0 5px;
    height: $cellHeight;
    line-height: $cellHeight;
    font-size: 13px;
    border-radius: 0;
  }

  th {
    height: $cellHeight - 10;
    line-height: $cellHeight - 10;

    &:hover {
      cursor:pointer;
    }
  }

  thead {
    border-collapse: collapse;
    border:none;
  }
  tbody {
    border-collapse: collapse;
    tr {

    
      &:nth-of-type(odd) {
        td {
          background-color: $grey-1;
          border-right: 1px solid $grey-1 - 20;
        }
      }

      &.hdcp {
        td {
          height: $cellHeight - 10;
          line-height: $cellHeight - 10;
          background-color: $secondary;
          border-right: 1px solid $secondary - 30;
        }
      }
    }
  }

  th {
    box-sizing: border-box;
    width: 4%;
    border-radius: 0;
    color: #fff;
    background-color: $grey-3;
    text-align: center;
    border-right: 1px solid $grey-3 + 40;
  }

  td {
    border-right: 1px solid $grey-1;
    text-align: center;
  }

  .size-1 {
    width: 6%;
    text-align: left;
  }

  .size-2 {
    width: 5%;
  }

  @include mq(tablet) {
    table {
      width: 100%;
    }
  }
}
/* end of .scorecard-wrap */
