/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
.scorecard-wrap .row {
  margin-bottom: 0; }

.scorecard-wrap .header {
  padding: 5px 0;
  background-color: #ececec;
  color: #fff; }

.scorecard-wrap .title {
  margin: 2px 0 0;
  color: #333333;
  font-size: 13px; }

.scorecard-wrap h1,
.scorecard-wrap h2,
.scorecard-wrap h3,
.scorecard-wrap h4,
.scorecard-wrap h5,
.scorecard-wrap h6 {
  margin: 0;
  color: #8e8e8e; }

.scorecard-wrap .desc-wrap {
  text-align: right; }

.scorecard-wrap .logo-wrap {
  max-width: 50px; }

.scorecard-wrap .outer-table-wrap {
  position: relative;
  padding-left: 70px; }

.scorecard-wrap .fixed-labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2); }
  .scorecard-wrap .fixed-labels li {
    line-height: 50px;
    height: 50px;
    font-size: 13px;
    text-align: center; }
    .scorecard-wrap .fixed-labels li:first-child, .scorecard-wrap .fixed-labels li:nth-of-type(2) {
      line-height: 40px;
      height: 40px; }
    .scorecard-wrap .fixed-labels li:nth-of-type(even) {
      background-color: #ececec; }
    .scorecard-wrap .fixed-labels li:first-child {
      background-color: #333333;
      color: #fff;
      font-weight: bold; }
    .scorecard-wrap .fixed-labels li:nth-of-type(2) {
      background-color: #F9C22E; }
    .scorecard-wrap .fixed-labels li.player-label {
      position: relative; }
      .scorecard-wrap .fixed-labels li.player-label .snips {
        font-size: 7px;
        color: #fff;
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 50%;
        background-color: #53B3CB;
        position: absolute;
        top: 3px;
        right: 3px; }

.scorecard-wrap .table-wrap {
  overflow-x: auto; }

.scorecard-wrap table {
  width: 1000px;
  border-collapse: collapse; }

.scorecard-wrap tr th:last-child,
.scorecard-wrap tr td:last-child {
  border-right: none; }

.scorecard-wrap th,
.scorecard-wrap td {
  padding: 0 5px;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  border-radius: 0; }

.scorecard-wrap th {
  height: 40px;
  line-height: 40px; }

.scorecard-wrap thead {
  border-collapse: collapse;
  border: none; }

.scorecard-wrap tbody {
  border-collapse: collapse; }
  .scorecard-wrap tbody tr:nth-of-type(odd) td {
    background-color: #ececec;
    border-right: 1px solid #d8d8d8; }
  .scorecard-wrap tbody tr.hdcp td {
    height: 40px;
    line-height: 40px;
    background-color: #F9C22E;
    border-right: 1px solid #dba410; }

.scorecard-wrap th {
  box-sizing: border-box;
  width: 4%;
  border-radius: 0;
  color: #fff;
  background-color: #333333;
  text-align: center;
  border-right: 1px solid #5b5b5b; }

.scorecard-wrap td {
  border-right: 1px solid #ececec;
  text-align: center; }

.scorecard-wrap .size-1 {
  width: 6%;
  text-align: left; }

.scorecard-wrap .size-2 {
  width: 5%; }

@media (min-width: 768px) {
  .scorecard-wrap table {
    width: 100%; } }

/* end of .scorecard-wrap */
