@import "../../styles/core/variables";
.avatar-wrap {
    width:40px;
    height:40px;
    border-radius: 50%;
    margin:3px;
    background-color:$grey-3;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &.small {
        width:30px;
        height:30px;

        span {
            font-size:12px;
        }
    }

    &.light-theme {
        background-color:$grey-1;

        span {
            color:$pColor;
        }
    }

    &.med-theme {
        background-color:$grey-2;
    }    

    span {
        color:#fff;
        font-weight: 700;
        font-size:13px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
}