/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
.avatar-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 3px;
  background-color: #333333;
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .avatar-wrap.small {
    width: 30px;
    height: 30px; }
    .avatar-wrap.small span {
      font-size: 12px; }
  .avatar-wrap.light-theme {
    background-color: #ececec; }
    .avatar-wrap.light-theme span {
      color: #0C090D; }
  .avatar-wrap.med-theme {
    background-color: #8e8e8e; }
  .avatar-wrap span {
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .avatar-wrap.jh {
    background-color: #ca6a36; }
  .avatar-wrap.jg {
    background-color: #9cc156; }
  .avatar-wrap.sj {
    background-color: #31667a; }
  .avatar-wrap.rk {
    background-color: #74548c; }
  .avatar-wrap.ar {
    background-color: #bb1a29; }
  .avatar-wrap.bc {
    background-color: #cbb654; }
  .avatar-wrap.sc {
    background-color: #44612e; }
  .avatar-wrap.wp {
    background-color: #943574; }
  .avatar-wrap.ak {
    background-color: #359194; }
