@import "../../styles/core/variables";
.avatar-wrap {
    width:40px;
    height:40px;
    border-radius: 50%;
    margin:3px;
    background-color:$grey-3;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    &.small {
        width:30px;
        height:30px;

        span {
            font-size:12px;
        }
    }

    &.light-theme {
        background-color:$grey-1;

        span {
            color:$pColor;
        }
    }

    &.med-theme {
        background-color:$grey-2;
    }    

    span {
        color:#fff;
        font-weight: 700;
        font-size:13px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        user-select: none;
    }

    &.jh {
        background-color:#ca6a36;
    }

    &.jg {
        background-color:#9cc156;
    }    

    &.sj {
        background-color:#31667a;
    }    
    
    &.rk {
        background-color:#74548c;
    }     

    &.ar {
        background-color:#bb1a29;
    }     
    
    &.bc {
        background-color:#cbb654;
    }    
    
    &.sc {
        background-color:#44612e;
    }    

    &.wp {
        background-color:#943574;
    }   
    
    &.ak {
        background-color:#359194;
    }     
}