/* =============================================================================
   Main Site Variables
   ========================================================================== */
/* Site Vars */
.horizontal-scroller {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  background-color: #333333;
  padding: 0;
  text-align: center;
  height: 55px;
  line-height: 55px; }
  .horizontal-scroller ul {
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap; }
  .horizontal-scroller li {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle; }
    .horizontal-scroller li:first-child {
      margin-left: 0; }
